/*****************************
		    HEADER
*****************************/

body {
	background-image: url(../trial.jpg);
	background-size: cover;
	margin: 20px;
	color: white;
	text-align: center;
}

div.wrap {
	text-align: center;
	position: relative;
	/*left: 600px;*/
}

h1 {
	text-align: center;
	font-size: 6em;
}

h2.summary {
	text-align: center;
	font-size: 1.7em;
	padding: 50px;
	width: 50%;
	position: relative;
	left: 300px;
}

/*****************************
		    BODY
*****************************/
div.guess {
	display: inline-block;
}

p.game {
	display: block;
	font-size: 1.3em;
	padding: 20px;
	opacity: 0.6;
	background-color: #000;
}

input#digit {
	display: block;
	padding: 10px;
	text-align: center;
}

input#digit:focus {
	outline: 2px solid purple;
	background-color: #ffffaa;
}

div.guage {
	/*display: block;*/
	background-color: purple;
	/*height: 20px;*/
	width: 20%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	bottom: 150px;
	/*right: 50px;*/
	/*left: 510px;*/
}

div.replay {
	text-align: center;
	display: block;
	padding-top: 100px;
	/*position: relative;
	float: left;
	top: 200px;
	left: -170px;*/
}

input#restart {
	text-align: center;
	padding: 20px;
	font-size: 1em;
	border-radius: 10px;
	border: none;
	background-color: #ffaaff;
	color: #770077;
}